Repository calyxir/calyx, pull requests merged in 2021-09, with the labels that each got.

#645 [CIRCT] Fix MemoryOp representation, Add 3/4D memory.
  src/backend/circt.rs
Labels: Comp: CIRCT

#663 Patch inifinite unroll bug
  .github/workflows/integration.yml
  interp/src/interpreter/interpret_component.rs
  interp/src/interpreter/interpret_control.rs
Labels: Comp: Interpreter

#667 [CIRCT] [fud] Add MLIR backend to `fud`.
  fud/fud/main.py
  src/backend/mlir.rs
  src/backend/mod.rs
  src/cmdline.rs
  tests/backend/mlir/attributes.expect
  tests/backend/mlir/attributes.futil
  tests/backend/mlir/no-guards.expect
  tests/backend/mlir/no-guards.futil
  tests/backend/mlir/with-guards.expect
  tests/backend/mlir/with-guards.futil
Labels: Comp: CIRCT

#661 Multicomponent simulation
  .github/workflows/rust.yml
  fud/fud/stages/interpreter.py
  fud/fud/utils.py
  interp/runt.toml
  interp/src/debugger/cidr.rs
  interp/src/environment.rs
  interp/src/errors.rs
  interp/src/interpreter/interpret_component.rs
  interp/src/interpreter/interpret_control.rs
  interp/src/interpreter/interpret_group.rs
  interp/src/interpreter/steppers/component_interpreter.rs
  interp/src/interpreter/steppers/control_interpreter.rs
  interp/src/interpreter/steppers/group_interpreter.rs
  interp/src/interpreter/steppers/mod.rs
  interp/src/interpreter/utils.rs
  interp/src/lib.rs
  interp/src/macros.rs
  interp/src/main.rs
  interp/src/primitives/combinational.rs
  interp/src/primitives/mod.rs
  interp/src/primitives/primitive.rs
  interp/src/primitives/stateful.rs
  interp/src/ref_handler.rs
  interp/src/stk_env.rs
  interp/src/utils.rs
  interp/tests/control/invoke/invoke-memory.expect
  interp/tests/control/invoke/invoke-memory.futil
  interp/tests/control/invoke/invoke-memory.futil.data
  interp/tests/control/invoke/invoke.expect
  interp/tests/control/invoke/invoke.futil
  interp/tests/control/invoke/invoke.futil.data
  primitives/tcam.futil
  tests/correctness/systolic/array-2.systolic.data
  tests/correctness/systolic/array-3.systolic.data
Labels: Comp: Interpreter

#688 Provide values in the error message.
  frontends/ntt-pipeline/gen-ntt-pipeline.py
Labels: Comp: NTT

#693 [CIRCT] Change representation of guards.
  src/backend/mlir.rs
  tests/backend/mlir/with-guards.expect
Labels: Comp: CIRCT

#697 Add signed primitives
  .github/workflows/rust.yml
  interp/Cargo.toml
  interp/src/environment.rs
  interp/src/interpreter/steppers/component_interpreter.rs
  interp/src/interpreter/steppers/group_interpreter.rs
  interp/src/macros.rs
  interp/src/primitives/combinational.rs
  interp/src/primitives/mod.rs
  interp/src/primitives/prim_utils.rs
  interp/src/primitives/primitive.rs
  interp/src/primitives/stateful.rs
  interp/src/stk_env.rs
  interp/src/tests/primitives.rs
  interp/src/tests/stk_env.rs
  interp/src/tests/values.rs
  interp/src/values.rs
Labels: Comp: Interpreter
