Repository calyxir/calyx, pull requests merged in 2021-11, with the labels that each got.

#760 [Relay] Fix second dimension access in `conv2d`.
  frontends/relay/dahlia_impl.py
Labels: Comp: Relay

#763 [fud] Uninitialized numbers raises InvalidNumericType.
  fud/fud/stages/verilator/numeric_types.py
Labels: Comp: Fud

#766 [library] Use reset signal for each multi-cycle primitive.
  examples/futil/dot-product.expect
  examples/futil/simple.expect
  interp/tests/complex/unsigned-div.expect
  interp/tests/complex/unsigned-dot-product.expect
  primitives/binary_operators.futil
  primitives/binary_operators.sv
  primitives/math.sv
Labels: Comp: Library

#743 Record stage duration for debug output.
  fud/fud/exec.py
  fud/fud/utils.py
Labels: Comp: Fud

#773 [fud] Add profiling for steps in each stage
  fud/fud/exec.py
  fud/fud/stages/__init__.py
  fud/fud/stages/verilator/stage.py
  fud/fud/utils.py
Labels: Comp: Fud

#775 [Fud] Cleanup testbench and add cycle limit error.
  examples/dahlia/dot-product.expect
  examples/dahlia/vectorized-add.expect
  examples/futil/memory-by-reference/memory-by-reference.expect
  examples/tutorial/language-tutorial-compute.expect
  examples/tutorial/language-tutorial-control.expect
  examples/tutorial/language-tutorial-iterate.expect
  examples/tutorial/language-tutorial-mem.expect
  fud/fud/errors.py
  fud/fud/stages/verilator/stage.py
  fud/sim/testbench.cpp
  tests/correctness/exp/degree-4-signed.expect
  tests/correctness/exp/degree-4-unsigned.expect
  tests/correctness/exp/degree-8-signed.expect
  tests/correctness/exp/degree-8-unsigned.expect
  tests/correctness/ntt-pipeline/ntt-16-reduced-4.expect
  tests/correctness/ntt-pipeline/ntt-16.expect
  tests/correctness/ntt-pipeline/ntt-8.expect
  tests/correctness/systolic/array-1.expect
  tests/correctness/systolic/array-2.expect
  tests/correctness/systolic/array-3.expect
  tests/errors/runtime/multiple-drivers.expect
Labels: Comp: Fud

#777 [fud] Add CSV and normal profiling flags.
  fud/fud/exec.py
  fud/fud/main.py
  fud/fud/stages/__init__.py
  fud/fud/stages/verilator/stage.py
  fud/fud/utils.py
Labels: Comp: Fud

#778 [NFC] Cleanup profiling.
  fud/fud/exec.py
  fud/fud/stages/__init__.py
  fud/fud/utils.py
Labels: Comp: Fud

#782 [fud] Make `csv` its own flag and add documentation.
  docs/fud/index.md
  fud/fud/exec.py
  fud/fud/main.py
Labels: Comp: Fud

#783 Debugger print codes + sloppy par mode
  interp/src/configuration.rs
  interp/src/debugger/cidr.rs
  interp/src/debugger/commands.rs
  interp/src/debugger/mod.rs
  interp/src/debugger/parser/command_parser.rs
  interp/src/debugger/parser/commands.pest
  interp/src/debugger/parser/mod.rs
  interp/src/errors.rs
  interp/src/macros.rs
  interp/src/main.rs
  interp/src/structures/stk_env.rs
  tests/frontend/dahlia/signed_dotproduct.expect
  tests/frontend/relay/conv2d.expect
  tests/frontend/relay/softmax.expect
Labels: Comp: Interpreter

#784 [fud] Add step-based profiling.
  docs/fud/index.md
  fud/fud/errors.py
  fud/fud/exec.py
  fud/fud/stages/__init__.py
  fud/fud/utils.py
Labels: Comp: Fud

#793 [Interpreter] Patch sdiv mixup
  interp/src/interpreter/steppers/group_interpreter.rs
  interp/src/structures/environment.rs
Labels: Comp: Interpreter

#794 [Interpreter] Make the div primitives do euclidean remainder
  interp/src/primitives/stateful.rs
  interp/src/tests/primitives.rs
Labels: Comp: Interpreter

#786 [fud] Fix return type of `interpret` stage.
  fud/fud/exec.py
Labels: Comp: Interpreter, Comp: Fud

#795 [library] Reset output upon start
  primitives/binary_operators.sv
Labels: Comp: Library

#801 [CIDR] Improve help message and change its organization
  interp/src/debugger/commands.rs
Labels: Comp: CIDR

#808 Push fully qualified instance names into primitives
  interp/src/interpreter/steppers/component_interpreter.rs
  interp/src/macros.rs
  interp/src/primitives/combinational.rs
  interp/src/primitives/mod.rs
  interp/src/primitives/primitive.rs
  interp/src/primitives/stateful.rs
  interp/src/structures/environment.rs
  interp/src/structures/names.rs
  interp/src/tests/primitives.rs
Labels: Comp: Interpreter
