Repository calyxir/calyx, pull requests merged in 2024-02, with the labels that each got.

#1891 Docs: multicomponent tutorial fud command fix
  docs/lang/multi-component.md
Labels: C: Docs

#1927 Add component attributes to builder
  calyx-py/calyx/builder.py
  calyx-py/calyx/py_ast.py
  calyx-py/test/example.py
  calyx-py/test/if.py
  calyx-py/test/invoke.py
  docs/builder/ref.md
Labels: C: calyx-py

#1910 fud2: Embed resources in executable, in release mode
  Cargo.lock
  docs/running-calyx/fud2.md
  fud2/Cargo.toml
  fud2/fud-core/src/cli.rs
  fud2/fud-core/src/exec/driver.rs
  fud2/fud-core/src/run.rs
  fud2/src/main.rs
Labels: C: fud2

#1937 [fud2] Add `list` subcommand
  fud2/fud-core/src/cli.rs
  fud2/fud-core/src/exec/driver.rs
Labels: C: fud2
