Repository calyxir/calyx, pull requests merged in 2024-03, with the labels that each got.

#1943 [fud2] Write some design docs
  docs/running-calyx/fud2.md
Labels: C: fud2

#1952 Add `external-to-ref` pass
  calyx-ir/src/structure.rs
  calyx-opt/src/default_passes.rs
  calyx-opt/src/passes/external_to_ref.rs
  calyx-opt/src/passes/mod.rs
  calyx-opt/src/passes/well_formed.rs
  tests/passes/external-to-ref.expect
  tests/passes/external-to-ref.futil
  tests/passes/well-formed/main-ref-cell.expect
  tests/passes/well-formed/main-ref-cell.futil
Labels: C: calyx-opt

#1953 Axi wrapper fixes
  yxi/axi-calyx/axi-generator.expect
  yxi/axi-calyx/axi-generator.py
  yxi/axi-calyx/cocotb/sim.sh
  yxi/axi-calyx/fixed-vec-add.futil
  yxi/axi-calyx/generated-axi-with-vec-add.futil
Labels: C: FPGA

#1962 [fud2] Several more tests
  fud2/tests/snapshots/tests__emit@calyx_debug.snap
  fud2/tests/snapshots/tests__emit@calyx_icarus_dat.snap
  fud2/tests/snapshots/tests__emit@calyx_icarus_vcd.snap
  fud2/tests/snapshots/tests__emit@calyx_interp_dat.snap
  fud2/tests/snapshots/tests__emit@calyx_verilator_dat.snap
  fud2/tests/snapshots/tests__emit@calyx_verilator_vcd.snap
  fud2/tests/snapshots/tests__emit@calyx_xrt-trace_vcd.snap
  fud2/tests/snapshots/tests__emit@calyx_xrt_dat.snap
  fud2/tests/snapshots/tests__emit@dahlia_calyx.snap
  fud2/tests/snapshots/tests__emit@mrxl_calyx.snap
  fud2/tests/tests.rs
Labels: C: fud2

#1974 Let calyx-ir build with `serialize` feature
  calyx-ir/Cargo.toml
Labels: C: Calyx

#1964 Add dimensional and type data to `yxi` outputs
  .github/workflows/rust.yml
  Cargo.toml
  calyx-backend/Cargo.toml
  calyx-backend/src/backend_opt.rs
  calyx-backend/src/lib.rs
  calyx-backend/src/xilinx/toplevel.rs
  calyx-backend/src/yxi.rs
  calyx-ir/Cargo.toml
  calyx-ir/src/utils.rs
  src/cmdline.rs
  tests/backend/yxi/dot-product.expect
  tests/backend/yxi/seq-mem-d4-add.expect
Labels: C: FPGA
