Repository calyxir/calyx, pull requests merged in 2024-08, with the labels that each got.

#2143 Fix a lot of typos
  docs/running-calyx/interfacing.md
Labels: C: Docs

#2224 [fud2] Implement Shell Commands With Dependencies
  fud2/fud-core/src/run.rs
  fud2/fud-core/src/script/error.rs
  fud2/fud-core/src/script/plugin.rs
  fud2/tests/scripts/shell_deps/test.rhai
  fud2/tests/snapshots/tests__test@s1_s2.snap
  fud2/tests/snapshots/tests__test@s1_to_s2.snap
  fud2/tests/snapshots/tests__test@s3_s4.snap
  fud2/tests/snapshots/tests__test@s3_to_s4.snap
  fud2/tests/snapshots/tests__test@s5_s6.snap
  fud2/tests/snapshots/tests__test@s5_to_s6.snap
  fud2/tests/snapshots/tests__test@state0_state1_state2_to_state3_state4.snap
  fud2/tests/snapshots/tests__test@state0_state1_to_state2.snap
  fud2/tests/snapshots/tests__test@state0_through_t4_to_state1.snap
  fud2/tests/snapshots/tests__test@state0_through_t5_to_state1.snap
  fud2/tests/snapshots/tests__test@state0_to_state1.snap
  fud2/tests/snapshots/tests__test@state0_to_state2_state1.snap
  fud2/tests/tests.rs
Labels: C: fud2

#2118 `@fast` attribute to enable early (0-cycle) transitions between alternating dynamic/static groups
  calyx-frontend/src/attribute.rs
  calyx-opt/src/passes/static_promotion.rs
  calyx-opt/src/passes/top_down_compile_control.rs
  calyx-opt/src/passes/well_formed.rs
  runt.toml
  tests/correctness/fast-attr/invalid/invalid.expect
  tests/correctness/fast-attr/invalid/invalid.futil
  tests/correctness/fast-attr/invalid/invalid.futil.data
  tests/correctness/fast-attr/valid/fast6inc.expect
  tests/correctness/fast-attr/valid/fast6inc.futil
  tests/correctness/fast-attr/valid/fast6inc.futil.data
Labels: C: Calyx, C: calyx-opt

#2231 Update `.expect` interface (v2)
  calyx-py/calyx/queue_call.py
  calyx-py/calyx/queues.py
  calyx-py/test/correctness/queues/binheap/fifo.expect
  calyx-py/test/correctness/queues/binheap/pifo.expect
  calyx-py/test/correctness/queues/binheap/stable_binheap.expect
  calyx-py/test/correctness/queues/fifo.expect
  calyx-py/test/correctness/queues/nwc_simple.expect
  calyx-py/test/correctness/queues/pcq.expect
  calyx-py/test/correctness/queues/pieo.expect
  calyx-py/test/correctness/queues/pifo.expect
  calyx-py/test/correctness/queues/pifo_tree.expect
  calyx-py/test/correctness/queues/sdn.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/rr_queues/rr_queue_2flows.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/rr_queues/rr_queue_3flows.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/rr_queues/rr_queue_4flows.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/rr_queues/rr_queue_5flows.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/rr_queues/rr_queue_6flows.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/rr_queues/rr_queue_7flows.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/strict_queues/strict_2flows.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/strict_queues/strict_3flows.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/strict_queues/strict_4flows.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/strict_queues/strict_5flows.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/strict_queues/strict_6flows.expect
Labels: C: Queues

#2243 Remove peek functionality
  calyx-py/calyx/queue_call.py
  calyx-py/calyx/queue_data_gen.py
  calyx-py/calyx/queues.py
  calyx-py/test/correctness/queues/binheap/binheap.expect
  calyx-py/test/correctness/queues/binheap/binheap.py
  calyx-py/test/correctness/queues/binheap/fifo.data
  calyx-py/test/correctness/queues/binheap/fifo.expect
  calyx-py/test/correctness/queues/binheap/fifo.py
  calyx-py/test/correctness/queues/binheap/pifo.data
  calyx-py/test/correctness/queues/binheap/pifo.expect
  calyx-py/test/correctness/queues/binheap/pifo.py
  calyx-py/test/correctness/queues/binheap/stable_binheap.data
  calyx-py/test/correctness/queues/binheap/stable_binheap.expect
  calyx-py/test/correctness/queues/binheap/stable_binheap.py
  calyx-py/test/correctness/queues/fifo.data
  calyx-py/test/correctness/queues/fifo.expect
  calyx-py/test/correctness/queues/fifo.py
  calyx-py/test/correctness/queues/nwc_simple.data
  calyx-py/test/correctness/queues/nwc_simple.expect
  calyx-py/test/correctness/queues/pcq.data
  calyx-py/test/correctness/queues/pcq.expect
  calyx-py/test/correctness/queues/pieo.data
  calyx-py/test/correctness/queues/pieo.expect
  calyx-py/test/correctness/queues/pifo.data
  calyx-py/test/correctness/queues/pifo.expect
  calyx-py/test/correctness/queues/pifo.py
  calyx-py/test/correctness/queues/pifo_tree.data
  calyx-py/test/correctness/queues/pifo_tree.expect
  calyx-py/test/correctness/queues/sdn.data
  calyx-py/test/correctness/queues/sdn.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/gen_strict_or_rr.py
  calyx-py/test/correctness/queues/strict_and_rr_queues/rr_queues/rr_queue_2flows.data
  calyx-py/test/correctness/queues/strict_and_rr_queues/rr_queues/rr_queue_2flows.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/rr_queues/rr_queue_3flows.data
  calyx-py/test/correctness/queues/strict_and_rr_queues/rr_queues/rr_queue_3flows.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/rr_queues/rr_queue_4flows.data
  calyx-py/test/correctness/queues/strict_and_rr_queues/rr_queues/rr_queue_4flows.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/rr_queues/rr_queue_5flows.data
  calyx-py/test/correctness/queues/strict_and_rr_queues/rr_queues/rr_queue_5flows.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/rr_queues/rr_queue_6flows.data
  calyx-py/test/correctness/queues/strict_and_rr_queues/rr_queues/rr_queue_6flows.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/rr_queues/rr_queue_7flows.data
  calyx-py/test/correctness/queues/strict_and_rr_queues/rr_queues/rr_queue_7flows.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/strict_queues/strict_2flows.data
  calyx-py/test/correctness/queues/strict_and_rr_queues/strict_queues/strict_2flows.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/strict_queues/strict_3flows.data
  calyx-py/test/correctness/queues/strict_and_rr_queues/strict_queues/strict_3flows.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/strict_queues/strict_4flows.data
  calyx-py/test/correctness/queues/strict_and_rr_queues/strict_queues/strict_4flows.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/strict_queues/strict_5flows.data
  calyx-py/test/correctness/queues/strict_and_rr_queues/strict_queues/strict_5flows.expect
  calyx-py/test/correctness/queues/strict_and_rr_queues/strict_queues/strict_6flows.data
  calyx-py/test/correctness/queues/strict_and_rr_queues/strict_queues/strict_6flows.expect
Labels: C: Queues

#2234 Massage away 2-way PIFOs
  calyx-py/calyx/complex_tree_oracle.py
  calyx-py/calyx/gen_queue_data_expect.sh
  calyx-py/calyx/queues.py
  calyx-py/calyx/rr_queue_oracle.py
  calyx-py/calyx/strict_queue_oracle.py
  calyx-py/test/correctness/queues/binheap/complex_tree.data
  calyx-py/test/correctness/queues/binheap/complex_tree.expect
  calyx-py/test/correctness/queues/complex_tree.data
  calyx-py/test/correctness/queues/complex_tree.expect
  calyx-py/test/correctness/queues/complex_tree.py
  calyx-py/test/correctness/queues/pifo_tree.py
  calyx-py/test/correctness/queues/sdn.py
  calyx-py/test/correctness/queues/strict_and_rr_queues/gen_strict_or_rr.py
Labels: C: Queues

#2237 Update documentation: New style PIFOs, RR, and Strict
  docs/frontends/queues.md
Labels: C: Queues

#2258 [fud2] improve error message for parser errors
  fud2/fud-core/src/exec/driver.rs
  fud2/fud-core/src/script/plugin.rs
  fud2/src/main.rs
  fud2/tests/tests.rs
Labels: C: fud2

#2239 [fud2] op graph generation and testing
  Cargo.lock
  fud2/fud-core/Cargo.toml
  fud2/fud-core/tests/graph_gen/mod.rs
  fud2/fud-core/tests/tests.rs
Labels: C: fud2

#2257 [fud2] Make Empty Ops an Error
  fud2/fud-core/src/run.rs
  fud2/fud-core/src/script/error.rs
  fud2/fud-core/src/script/plugin.rs
Labels: C: fud2

#2236 [fud2] Document Syntax for Specifying Scripts
  docs/running-calyx/fud2/scripts.md
Labels: C: fud2

#2261 Tidy queue code
  calyx-py/calyx/queue_call.py
  calyx-py/calyx/queue_data_gen.py
  calyx-py/calyx/queues.py
  calyx-py/test/correctness/queues/binheap/binheap.py
  calyx-py/test/correctness/queues/binheap/fifo.py
  calyx-py/test/correctness/queues/binheap/stable_binheap.py
  calyx-py/test/correctness/queues/fifo.py
  calyx-py/test/correctness/queues/pifo.py
  calyx-py/test/correctness/queues/strict_and_rr_queues/gen_strict_or_rr.py
  calyx-py/test/correctness/queues/strict_and_rr_queues/strict_queues/strict_3flows.py
  calyx-py/test/correctness/queues/strict_and_rr_queues/strict_queues/strict_4flows.py
  calyx-py/test/correctness/queues/strict_and_rr_queues/strict_queues/strict_5flows.py
  calyx-py/test/correctness/queues/strict_and_rr_queues/strict_queues/strict_6flows.py
Labels: C: Queues
