Repository calyxir/calyx, pull requests merged in 2024-06, with the labels that each got.

#2081 [Profiling] Sample values at clock falling edges and accommodate single-enable control blocks/par arms
  .gitignore
  calyx-opt/src/passes/top_down_compile_control.rs
  tools/profiler/README.md
  tools/profiler/get-profile-counts-info.sh
  tools/profiler/parse-vcd.py
  tools/vcd-parsing/parse-vcd.py
Labels: C: Calyx

#2094 [fud] Fix multiple paths error doc link
  fud/fud/errors.py
Labels: C: fud

#2114 Generalize where `wire_inliner` looks for `go` and `done` ports.
  calyx-opt/src/passes/wire_inliner.rs
Labels: C: calyx-opt

#1997 Introduce verilog -> cocotb simulation `fud2` path
  .github/workflows/rust.yml
  Dockerfile
  fud2/src/lib.rs
  runt.toml
  yxi/axi-calyx/cocotb/Makefile
  yxi/axi-calyx/cocotb/axi_test.py
  yxi/axi-calyx/cocotb/run_axi_test.py
  yxi/tests/fud2/seq-mem-vec-add-axi-wrapped.expect
  yxi/tests/fud2/seq-mem-vec-add-axi-wrapped.futil
  yxi/tests/fud2/seq-mem-vec-add-verilog.expect
  yxi/tests/fud2/seq-mem-vec-add-verilog.v
  yxi/tests/fud2/seq-mem-vec-add.expect
  yxi/tests/fud2/seq-mem-vec-add.futil
  yxi/tests/fud2/vectorized-add.data
Labels: C: FPGA, C: fud2

#2112 Update `yxi` to support `dyn_mem`s
  calyx-ir/src/utils.rs
  yxi/tests/backend/dyn-mem-d4-add.expect
  yxi/tests/backend/dyn-mem-d4-add.futil
Labels: C: Library, C: FPGA

#2111 Add `dyn_mems` as primitives
  calyx-ir/src/utils.rs
  calyx-stdlib/src/primitives.rs
  primitives/memories/dyn.futil
  primitives/memories/dyn.sv
  yxi/tests/backend/dyn-mem-d4-add.expect
  yxi/tests/backend/dyn-mem-d4-add.futil
Labels: C: Library
